#start-screen {
	display: flex;
	width: 640px;
	height: calc( 100% - 20px );
	background-color: red;
	border-radius: 10px;
	overflow: hidden;
}

#inner-screen {
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}