.dialogue{
    background-image: url('assets/img/dialouge.png') !important;
    /* padding: 1% 12% 18% 13%; */
    padding: 1em 4em 5em 4em!important;
    background-size: cover!important;
    background-repeat: round!important;
}