#game {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #000000;
    
    background-size: cover;
    background-color: aqua;
    /*background-repeat: no-repeat;*/
    background-repeat: round;
    /*background-position: bottom;*/
}

@media (min-height:641px) {
    #game {
        background-repeat: no-repeat;
        background-position: bottom;
    }
}

.fade2-appear{
    opacity: 0;
    margin-left: -10%;
  }
  .fade2-appear.fade2-appear-active{
    opacity: 1;
    margin-left: auto;
    transition: opacity 500ms linear 500ms,margin 500ms linear 500ms;
  }
  
  .fade2-exit{
    opacity: 1;
    margin-left: auto;
  }
  .fade2-exit.fade2-exit-active{
    opacity: 0;
    margin-right: -10%;
    transition: opacity 500ms linear,margin 500ms linear;
  }
  .fade2-exit-done{
    opacity: 0;
  }