#stage-screen {
	display: flex;
	width: 640px;
	height: calc( 100% - 20px );
	border-radius: 10px;
	overflow: hidden;
	flex-wrap: wrap;
    justify-content: space-evenly;
	align-items: center;
	background-size: cover;
	background-position: bottom;
	background-color: aqua;
	border: 1px solid #000000;
}