#score {
	display: flex;
	flex: 0 0 20%;
	flex-direction: column;
}

#score-text {
	display: flex;
	flex-basis: 100%;
	justify-content: center;
	align-items: center;
}

#score-num {
	display: flex;
	flex-basis: 100%;
	justify-content: center;
	align-items: center;
}