
#score-board {
	display: flex;
	background: rgba(255, 255, 255, 0.85);
	width: 100%;
	height: 60px;
	position: absolute;
	top: 0;
	color: black;
}

#score-board #menu {
	padding: 10px;
	flex: 0 0 20%;
}

#score-board #menu img ,#score-board #backlink img{
	max-width: 100%;
	height: 100%;
	cursor: pointer;
}

#score-board #stage {
	flex: 0 0 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#score-board #score {
	display: flex;
	flex: 0 0 20%;
	flex-direction: column;
}

#score-board #score span,
#score-board #stage span{
	display: flex;
	flex-basis: 100%;
	justify-content: center;
	align-items: center;
}

#score-board #backlink{
	display: flex;
	flex: 0 0 20%;
	justify-content: center;
	align-items: center;
}