* {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	direction: rtl;
}

#ot {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	min-height: 600px;
	max-height: 1080px;
	height: 100%;
	position: relative;
	border: 1px solid #000000;
}

#frame {
	display: flex;
	width: 640px;
	height: calc( 100% - 20px );
	border-radius: 10px;
	overflow: hidden;
}

#ot > div {
	position: absolute;
}

.hidden {
	visibility: hidden;
}

.chapters-frame {
	flex-direction: column;
}

.fadeout {
	animation-duration: 0.3s;
	animation-name: fadeOut;
}

.fadein {
	animation-duration: 0.3s;
	animation-name: fadeIn;
}

.dialogue-box {
	display: flex;
	justify-content: center;
	justify-items: center;
}