* {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	direction: rtl;
}

#ot {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	min-height: 600px;
	max-height: 1080px;
	height: 100%;
}

#frame {
	display: flex;
	width: 640px;
	height: calc( 100% - 20px );
	background-color: red;
	border-radius: 10px;
	overflow: hidden;
}


.fadeOut {
	animation: fadeOut;
}