
.chapter-selector {
	flex-wrap: wrap;
    justify-content: space-evenly;
	align-items: center;
	/* background-image: url('/img/levels/s1-1.jpg'); */
}

.chapter {
    font-size: 1.7em;
	width: 45%;
	height: 45%;
	border-radius: 7px;
	display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
	opacity: 0.9;
	
	background-size: cover;
	background-position: bottom;
}
.chapter:hover{
    box-shadow: 0 0 10px lightblue;
    opacity: 1;
}