.dialog{
    background-image: url('/img/dialouge.png') !important;
    /* padding: 1% 12% 18% 13%; */
    padding: 1em 3em 5em 3em !important;
    background-size: cover!important;
	background-repeat: round!important;
	font-size: 26px;
	line-height: normal;
}

.dialog-box {
	display: flex;
	justify-content: center;
	justify-items: center;
}