#game {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #000000;
    
    background-size: cover;
    background-color: aqua;
    background-repeat: no-repeat;
    background-repeat: round;/*no-repeat*/
    background-position: bottom;
}