#sourcePage {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    overflow: hidden;
    border: none;
    color: #fff !important;

    overflow: scroll;
}

#sourcePage .header-info {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    background: rgba(255, 255, 255, 0.75);
    color: #696969;
    font-weight: bold;
    text-align: center;
    /* font-size: 18px;*/
}

#sourcePage-back-btn {
    position: absolute;
    left: 10px;
    top: 14px;
    cursor: pointer;
}

#sourcePage .body {
    align-items: flex-end !important;
    flex: 1 1 auto;
    padding: 1.25rem;
    margin-top: 60px;
}


#sourcePage .team-card {
    margin: 0 auto;
    color: black;
    -ms-flex-align: center !important;
    align-items: center !important;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

#sourcePage .card {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

#sourcePage .card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

#sourcePage .card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

#sourcePage .list-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    padding-right: 0;
}

#sourcePage .card-header+.list-group .list-group-item:first-child {
    border-top: 0;
}

#sourcePage .list-group-item {
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    position: relative;
    display: block;
    padding: 0 0.5rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);

    text-align: left;
    direction: ltr;
}

#sourcePage .list-group-item a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}

#sourcePage .list-group-item a h4 {
    -ms-flex-item-align: center !important;
    align-self: center !important;
    margin-left: 1rem;
}
#sourcePage .list-group-item a img{
    max-width: 50%;
}
#sourcePage .list-group-item a img.mt-5{
    margin-top: 5px;
}