#start-screen {
	background-image: url('/img/levels/s1-1.jpg');
}

#inner-screen {
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#inner-screen img{
	width:50%;
	/* margin-top: -200px; */
	margin-bottom: 7%;
}